{% load static %}
<section id="about" class="paddsection">
    <div class="container">
        <div class="row text-center my-5">
            <h2 class="display-5 fw-bold lh-1 mb-3">About Me</h2>
        </div>
        <div class="row justify-content-between my-5">

            <div class="col-lg-4 col-md-12 col-sm-12 p-4 d-flex justify-content-center">
                <div class="div-img-bg">
                    <div class="about-img">
                        <img src="{% static 'images/mateusz2.jpg' %}" class="img-responsive" alt="me">
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="about-descr">

                    <p class="p-heading text-muted mx-2">{{ mateusz.bio.paragraph_top }}</p>
                    <p class="separator text-muted mx-2">{{ mateusz.bio.paragraph_bot }}</p>
                    <a class="btn btn-outline-primary mt-4" href="{% url 'download_file' %}" download>CV <i
                            class="fa fa-download"></i></a>

                </div>

            </div>
        </div>
    </div>
</section>