{% load static %}
<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                <p class="text-white mb-0">Copyright &copy; 2023 Mateusz Urban</p>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/cyrisek/tagged/" class="text-white">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Cytri/" class="text-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/mateusz-urban-cyris/" class="text-white">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/cyrisek" class="text-white">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>