{% load static %}
<section id="frameworks" class="px-5">
    <div class="container">
        <h2 class="row text-center display-5 fw-bold lh-1 mb-3">Skills</h2>
        <div class="card-group row">
            <div class="little-card card">

            </div>
            <div class="big-card card">

            </div>
            <div class="little-card card">

            </div>
            <div class="big-card card">

            </div>
            <div class="little-card card">

            </div>
            <div class="big-card card">

            </div>
            <div class="little-card card">

            </div>
            <div class="big-card card">

            </div>
        </div>
    </div>
</section>